
    body {
        width: 75%;
        max-width: 650px;
        min-width: 320px;
        font-size: 100%;
        font-family: font-family: 'Libre Baskerville', Georgia, Times, serif;
        margin: auto;
        background-color: #f0f0f0;
        color: #333;
        line-height: 1.6em;
        }

section {padding: 4em 0 2em 0}
    
/* TYPOGRAPHY */

        h1, h2, h3 {
            font-weight: normal;
            color: cadetblue;}
        
        h1{font-size: 3.375em;}
        h2{font-size: 2.25em;}
        h3{font-size: 1.5em;}

.intro {
    font-size: 1.25em;
    line-height: 1.9em;
    padding: 2em 0 0 0}

        
  a {
    color: cornflowerblue;
    }
            
/* unvisited link */
a:link {
    color: cornflowerblue;
}

/* visited link */
a:visited {
    color: darksalmon;
}

/* mouse over link */
a:hover {
    color: aquamarine;
}

/* selected link */
a:active {
    color: beige;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}